# <font color='#FFA07A'>**Welcome to Data Types in Pyhton!**</font>

In essence, a data type provides a set of values from which an expression (i.e., variable, function, etc.) may take its values. They describe the characteristic of the data. Different programming languages might have different data types or might handle them differently, but the core concept remains the same.

<div style="text-align: center">
    <img src="https://static.javatpoint.com/python/images/python-data-types.png" alt="python-data-types" title="Python Data Types"/>
</div>

## Basic Data Types

Python's basic types are:  
- `Integer`
- `Float`
- `Complex Numbers`
- `Strings`
- `Booleans`

## Integers

> An integer is a data type used to represent `whole numbers`. These are numbers without any fractional or decimal component.  
> Python uses the int type to store these kinds of numbers, which can be positive, negative, or zero.

In [1]:
# A positive integer
5

5

In [2]:
# A negative integer
-110

-110

In [3]:
# Zero, also considered an integer
0

0

There are no real length limit!

In [4]:
475997245980923649572385453427874356034072345670340892456 + 1

475997245980923649572385453427874356034072345670340892457

<font color='#FF69B4'>**Note:**</font> The `type` function is a built-in Python function that returns the type of an object.

In [6]:
type(1100997554)

int

In [7]:
int_num = 124
type(int_num)

int

## Float

> Floating-point numbers, often referred to as "floats" in Python, represent `real numbers` and are written with a decimal point dividing the integer and fractional parts.

In [7]:
5.6

5.6

In [8]:
type(5.4)

float

In [10]:
4.

4.0

In [10]:
type(4.)

float

In [11]:
.5

0.5

In [11]:
0.4e6

400000.0

In [12]:
type(.4e6)

float

<font color='#FF69B4'>**Note:**</font> The maximum value a floating-point number can have is approximately $1.8 \times 10^{308}.$ Any number beyond this is represented as `inf` in Python.

In [13]:
1.79e308

1.79e+308

In [14]:
1.8e308

inf

<font color='#FF69B4'>**Note:**</font> The smallest number a float can represent, closer to zero without being zero, is around $5.0 \times 10^{-324}.$  Anything smaller is considered `zero`.

In [15]:
5e-324

5e-324

In [16]:
1e-325

0.0

## Complex Numbers 
> A complex number is composed of a `real part` and an `imaginary part`.  
> It's represented as $x + yj$, where $x$ is the real part and $y$ is the imaginary part.

In [20]:
3 + 6j

(3+6j)

In [17]:
type(2-5j)

complex

<font color='#FF69B4'>**Note:**</font> Complex Numbers are less common in typical programming tasks but essential for specific domains like digital signal processing or electrical engineering problems.

## Strings

> Strings in Python are sequences of characters, and the type in Python for strings is called `str`.  
> Strings can be created using either single or double quotes.

In [18]:
"Here is a sample sentence."

'Here is a sample sentence.'

In [19]:
my_sentence = 'Check out the data type!'
type(my_sentence)

str

<font color='#FF69B4'>**Note:**</font> Strings in Python can contain any number of characters, including `none`:

In [12]:
num_str = '23'
type(num_str)

str

In [11]:
num_str = 23
type(num_str)

int

In [28]:
str_example = ''
type(str_example)

str

<font color='#FF69B4'>**Note:**</font> To include a quote character within the string itself, you can either use the opposite quote to delimit the string, or use escape sequences:

In [15]:
# Using opposite quote in String
'Life is like riding a bicycle. To keep your balance you must keep moving. "- Albert Einestein"'

'Life is like riding a bicycle. To keep your balance you must keep moving. "- Albert Einestein"'

In [25]:
# Using Escape Sequence in String
'Life is like riding a bicycle. To keep your balance you must keep moving. \'- Albert Einestein\''

"Life is like riding a bicycle. To keep your balance you must keep moving. '- Albert Einestein'"

<font color='#FF69B4'>**Note:**</font> Escape sequences let you include special characters in your strings.

If you want to continue a string onto the next line, use a backslash:  
**Usecase**: where you have a very long string that you want to split across multiple lines for readability in your code

In [16]:
sql_query = 'SELECT name, age, email FROM users WHERE age > 35 ' \
            'AND email LIKE "%@mcit.com" ORDER BY name' 
sql_query

'SELECT name, age, email FROM users WHERE age > 35 AND email LIKE "%@mcit.com" ORDER BY name'

Some useful escape sequences include:

* `\t`: Tab
* `\n`: Newline
* `\\`: Backslash
* `\'`: Single quote
* `\"`: Double quote

In [32]:
print('Just trying to test \\ here.')

Just trying to test \ here.

In [37]:
print('I am practicing coding.\nI will learn Python.')

I am practicing coding.
I will learn Python.

In [38]:
print('Name: Alex\nAge: 36\nJob: Data Scientist')

Name: Alex
Age: 36
Job: Data Scientist

<font color='#FF69B4'>**Note:**</font> Triple-quoted strings would be handy for defining multiline strings and ignore both single and double quotes within them.  
Also, they can be used for strings that span multiple lines.

In [17]:
print('''This is a
string 'that' spans
across several lines.''')

This is a
string 'that' spans
across several lines.

In [39]:
print("""This is a
string that spans
across several lines.""")

This is a
string that spans
across several lines.

## Boolean

> Boolean data type is a primitive data type that can have one of two values: `True` or `False`.  
> Python provides a dedicated type for representing Boolean values: `bool`.

In [18]:
comparison = 10 > 5
comparison

True

In [46]:
type(comparison)

bool

In [54]:
type(True)

bool

<font color='#FF69B4'>**Note:**</font> The `bool` function can be used to evaluate the truthiness of any value or expression.

- Objects equal to `True` are truthy.
- Objects equal to `False` are falsy.

In [47]:
bool(0)

False

In [48]:
bool(1)

True

In [50]:
bool(2 + 2 == 4)

True

In [51]:
bool(2 + 2 == 5)

False

## Variables

> Variables are names that you specify in your code that are mapped to objects in memory.   
> These names can be assigned to different types of data, such as numbers, strings, lists, dictionaries, and more.

> To create a variable in Python, you simply assign a value to it and then you can start using it immediately. The assignment operation is performed using a single equals sign (`=`).

<div style="text-align: center">
    <img src="https://www.scaler.com/topics/images/type-of-variables-in-python_thumbnail.webp" alt="python-data-types" title="Python Data Types"/>
</div>

In [19]:
# m is assigned the value 245.
m = 245

In [20]:
m

245

<font color='#FF69B4'>**Note:**</font> Variables in Python are `dynamic`, meaning you don't need to declare their type ahead of time (as in some other programming languages), and their type can change as you reassign different data to them.

In [21]:
m = 756
m

756

In [22]:
m = 'Hello'
m

'Hello'

Python supports chained assignment, a feature that allows you to assign a single value to multiple variables simultaneously:

In [27]:
aa = bb = cc = 450
aa, bb, cc

(450, 450, 450)

<font color='#FF69B4'>**Note:**</font> In Python, you can print multiple variables in a single print statement by separating them with commas.  
For instance, print(n, m) will print the values of n and m separated by a space.

In many computer languages, once you say a variable is a certain type (like a number or text), it can only be that type.  
But in Python, you can change the type of a variable anytime you want.

In [57]:
# Here variable_test is a numerical variable. 
variable_test = 234
variable_test

234

In [58]:
variable_test = 'I am text now'
variable_test

'I am text now'

## Variable Names

In Python, variable names can:
- Be as long as you want.
- Use both small and capital letters (a-z, A-Z).
- Have numbers (0-9), but not at the start.
- Use the underscore (_) character.

In [28]:
alex2 = 5
a2lex =10

In [31]:
Age = 46
name = 'Jordan'
is_male = True

Age, name, is_male

(46, 'Jordan', True)

<font color='#FF69B4'>**Note:**</font> Python is case-sensitive for variable names. This means that the names `Variable`, `VARIABLE`, and `variable` would refer to three different variables in Python.

The Python interpreter distinguishes between uppercase and lowercase letters in variable names, function names, class names, and all other identifiers in your code.

In [75]:
# Example of naming a variable

number_of_college_students = 56

## Naming Variables

> Best practice to write long names in Python:

> - Use Snake Case (Words are separated by underscores, like number_of_college_graduates) for `variables` and `functions`.
> - Use Pascal Case (The first letter of every word is capital, like NumberOfCollegeGraduates) for `class` names.

In Python, there are some special words that have a fixed meaning. These words are called "reserved words" or "keywords". We cannot use these words as names for our variables, functions, or any other objects.

Here's a list of these reserved words in Python:

<div align="center">

| Keywords |       |       |       |
|----------|-------|-------|-------|
| `False`  | `await` | `else`  | `import` |
| `None`   | `break` | `except`| `in`     |
| `True`   | `class` | `finally`| `is`    |
| `and`    | `continue`| `for`  | `lambda` |
| `as`     | `def`   | `from`  | `nonlocal` |
| `assert` | `del`   | `global`| `not`    |
| `async`  | `elif`  | `if`    | `or`     |
| `pass`   | `raise` | `return`| `try`    |
| `while`  | `with`  | `yield` | `match`  |
| `case`   |       |       |       |

</div>

In [23]:
from = 120

SyntaxError: invalid syntax (2566238618.py, line 1)

### Naming Constant Variables

In Python, by convention, constants vriables are written in all capital letters and underscores separating the words.  
By seeing the all-caps variable names, developers know they shouldn't change these values.

In [77]:
PI = 3.14159

In [ ]:
my_num = 5
my_age = 'Alex'
NUMBER = 110 # NUMBER is a constant number because it's all capital.

## Conversion Between Data Types

> Within the domain of programming, data types are crucial for defining the storage and handling of information.  
> Nonetheless, situations arise when it becomes necessary to transform data from one type to another to fulfill particular needs or execute specific tasks.  
> This procedure is referred to as `Type Conversion`.

Type Conversion in Python is essential for various reasons:

- **Flexibility in Operations**: Different operations require data in specific formats. Type conversion allows us to switch between these formats seamlessly.

- **Data Integrity**: Ensuring that data retains its meaning and doesn't lose essential details is crucial. Type conversion, when done correctly, helps maintain this integrity.

For instance, consider the simple act of converting an `int` data type to a `str`.

This might seem trivial, but understanding the underlying mechanics of such conversions can be the key to writing efficient and error-free code.

## Kinds of Data Type Conversion in Python

In Python, data type conversion can be broadly categorized into two types:

1. **Implicit Conversion (Automatic Type Conversion)**
    - This is performed by Python automatically.
    - Python interprets the data type conversion on its own without any explicit instructions.
    - Typically used when there's no risk of data loss, such as converting an `int` to a `float`.

2. **Explicit Conversion (Manual Type Conversion or Typecasting)**
    - Requires manual intervention using predefined functions.
    - Used when there's a need to convert data types explicitly based on the requirements of the operation.
    - Functions like `int()`, `float()`, and `str()` are commonly used for explicit type conversion.

Understanding the distinction between these two types is crucial as it affects how operations are performed and ensures the integrity of the data.

## Implicit Conversion

**Example: Converting integer to float**

Consider the scenario where Python promotes the conversion of a lower data type (`int`) to a higher data type (`float`) to prevent data loss.

In [75]:
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number
new_number

124.23

In [65]:
# Displaying the new value and its data type
print("Value:", new_number)
print("Data Type:", type(new_number))

Value: 124.23
Data Type: <class 'float'>

In this example, the `integer_number` and `float_number` are of `int` and `float` types, respectively. When added together, Python automatically converts the result to a `float` to ensure no data is lost.

> **Note:**
> It's essential to be aware of situations where implicit conversion might not work. For instance, adding a `str` and an `int` (e.g., `'12' + 23`) will result in a `TypeError`. In such cases, Python requires explicit conversion.

In [73]:
integer_number = 123
str_number = '456'
new_number = integer_number + str_number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Explicit Conversion

Explicit type conversion, commonly known as **typecasting**, involves manually converting the data type of an object to a desired data type. This is done using built-in Python functions.

**Common Functions for Explicit Conversion:**

- `int()`: Converts to an integer.
- `float()`: Converts to a floating-point number.
- `str()`: Converts to a string.



**Example: Addition of string and integer using Explicit Conversion**

Consider a scenario where we have a string representing a number and an integer. To add them, we need to perform explicit type conversion.

In [80]:
num_string = '456'
num_integer = 235

print('Data type of num_string before Type Casting:', type(num_string))

Data type of num_string before Type Casting: <class 'str'>

In [82]:
# Be mindful of difference between using type() function in print() or independently. 
type(num_string)

str

In [86]:
# Performing explicit type conversion
num_string = int(num_string)

print("Data type of num_string after Type Casting:", type(num_string))

Data type of num_string after Type Casting: <class 'int'>

In [87]:
num_sum = num_integer + num_string

print("Sum:", num_sum)
print("Data type of num_sum:", type(num_sum))

Sum: 691
Data type of num_sum: <class 'int'>